@media screen and (min-width: 1920px) {
  .btn {
    min-width: 274px;
  }

}
@media screen and (max-width: 1919px) {

  .brands .d-flex img {
    max-height: 44px;
  }
  header .container .main-screen-content {
    max-width: 50%;
    min-width: 50%;
    width: 50%;
  }
  .btn {
    min-width: initial;
    padding: 15px 26px;
  }

  .restaurant {
    .rest-photo .rest-img-wrap {
      height: 511px;
    }
    .rest-text {
      padding: 32px;
    }
  }
  .pattern-bg {
    h2 {
      max-width: 56%;
    }
    p {
      max-width: 64%;
    }
  }
  .brands .d-flex.justify-center {
    flex-wrap: wrap;
    img {
      margin: 0 35px 30px 35px;
    }
  }
}
@media screen and (max-width: 1440px) {
  .benefit {
    max-width: 30%;
    min-width: 30%;
    width: 30%;
  }
}
@media screen and (max-width: 1366px) {
  .p-50 {
    padding: 30px;
  }
  h1 {
    font-size: 24px;
    line-height: 26px;
  }
  h2 {
    font-size: 24px;
    line-height: 26px;
  }
  p, ul li {
    font-size: 18px;
    line-height: 26px;
  }
  .pattern-bg p {
    font-size: 20px;
    line-height: 22px;
  }
  header {
    .container {
      .main-content {
        margin-top: 16%;
      }
      .btn-group-main {
        max-width: 100%;
      }
    }
  }
  .parallax__group {
    width: 55%;
  }
  #final {
    .btn-group-main{
      display: flex;
      flex-direction: column;
      max-width: 60%;
      margin: 0 auto;
      .btn {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
  .contacts .contacts-group .contacts-item a {
    font-size: 20px;
    line-height: 22px;
  }
  footer p {
    font-size: 20px;
    line-height: 22px;
  }
}
@media screen and (max-width: 834px) {
  section {
    padding: 10px;
  }
  header .container .btn-group-main {
    display: flex;
    width: 100%;
    a {
      width: 50%;
      max-width: 50%;
    }
  }
  header {
    .container {
      .main-content {
        margin-top: 6%;
      }
      .btn-group-main {
        max-width: 100%;
      }
    }
  }
  .parallax__group {
    width: 65%;
    right: -15%;
  }
  .parallax__layer--img1 {
    max-width: 50%;top: 30%;left: -4%;
  }
  .parallax__layer--img2 {
    max-width: 50%;
    top: 47%;
    left: 22%;
  }
  .parallax__layer--img4 {
    left: 70%;
  }
  .slider-container {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
  .mb-100 {
    margin-bottom: 80px;
  }
  header {
    margin-bottom: 40px;
  }
  #films {
    .d-flex {
      flex-wrap: wrap;
      .slider-container {
        margin-bottom: 80px;
      }
    }
    .text-50 {
      text-align: center;
    }
  }
  .benefit {
    padding: 20px 24px;
  }
  .events h2 {
    max-width: 70%;
  }
  #events-slider .splide__slide .event-item {
    height: 500px;
    width: 614px;
  }
  #events-slider .splide__list {
    height: 460px;
  }

  #events-slider .splide__slide.is-active.is-visible .event-item .event-img-wrap {
    height: 440px;
    width: 614px;
  }
  #events-slider .splide__slide .event-item .event-img-wrap {
    height: 350px;
    width: 614px;
  }
  .brands {
    .p-50 {
      padding: 50px 0 20px;
    }
    .d-flex {
      flex-wrap: wrap;
      img {
        max-height: 40px;
        margin: 0 35px 30px 35px;
      }
    }
    h2 {
      &:after {
        margin: 20px auto 40px;
      }
    }
  }
  .restaurant .rest-photo .rest-img-wrap {
    height: 300px;
  }
  .restaurant .rest-text {
    padding: 18px;
    h2 {
      max-width: 100%;
      &:after {
        margin: 20px auto 20px;
      }
    }
    p {
      max-width: 100%;
      margin-bottom: 8px;
    }
  }
  #services {
    .d-flex {
      flex-wrap: wrap;
      .text-50 {
        width: 100%;
        margin-bottom: 40px;
        h2 {
          max-width: 55%;
          margin-top: 40px;
        }
        hr {
          max-width: 55%;
        }
        ul {
          max-width: 70%;
        }

      }
    }
    .services {
      grid-auto-rows: 208px;
    }
  }
  .pattern-bg {
    h2 {
      max-width: 80%;
    }
    p {
      max-width: 90%;
      margin: 0 auto 60px auto;
    }
  }
  .contacts {
    padding: 40px;
    margin: 0;
    justify-content: space-between;
    align-items: stretch;
    .contacts-group {
      flex-direction: column;
      max-width: 60%;
      min-width: 60%;
      width: 60%;
      .contacts-item{
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        text-align: left;
        &:first-child {
          margin-bottom: 40px;
        }
        p {
          margin:0;
        }
      }
    }
    .contacts-links {
      max-width: 40%;
      min-width: 40%;
      width: 40%;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: end;
      p {
        margin: auto 0 0 0;
        max-width: 100%;
      }
    }
  }
  #final .btn-group-main {
    max-width: 70%;
  }
}

@media screen and (max-width: 767px) {
  #services .d-flex .text-50 ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    max-height: 160px;
    max-width: 100%;
  }
  #logo-moscow {
    width: 160px;
  }
  header {
    .container {
      .main-content {
        margin-top: 245px;

        .main-screen-content {
          max-width: 100%;
          min-width: 100%;
          width: 100%;
        }

        .btn-group-main {
          max-width: 100%;
          min-width: 100%;
          width: 100%;
          flex-direction: column;

          .btn {
            margin-bottom: 10px;
          }
        }
      }

      .btn-group-main a {
        width: initial;
        max-width: initial;
        margin-right: 0;
      }
    }
  }
  h1 {
    font-size: 19px;
    line-height: 22px;
  }
  h2 {
    font-size: 19px;
    line-height: 22px;
  }
  h3 {
    font-size: 18px;
    line-height: 20px;
  }
  p, ul li, .subttl {
    font-size: 16px;
    line-height: 22px;
  }
  .p-50 {
    padding: 15px;
  }
  .parallax__group {
    width: 100%;
    right: 0;
    height: 400px;
    margin-top: 88px;

    .parallax__layer--img1 {
      max-width: 35%;
      top: 24%;
      left: 10%;
    }

    .parallax__layer--img2 {
      max-width: 38%;
      top: 34%;
      left: 24%;
    }

    .parallax__layer--img3 {
      max-width: 35%;
      top: 7%;
      left: 51%;
      opacity: .8;
    }

    .parallax__layer--img4 {
      top: 32%;
      max-width: 26%;
      left: 55%;
    }
  }
  .mb-100 {
    margin-bottom: 40px;
  }
  header {
    margin-bottom: 10px;
  }
  header .container .main-screen-content p {
    margin-bottom: 40px;
  }
  #films-slider {
    .splide__list {
      height: 456px;
    }

    .splide__slide {
      .films-cover-item {
        width: 310px;
        height: 456px;

        .film-cover-wrap {
          width: 260px;
          height: 380px;
        }
      }

      &.is-active.is-visible .films-cover-item .film-cover-wrap {
        width: 310px;
        height: 456px;
      }
    }

    .d-flex .slider-container {
      margin-bottom: 40px;
    }
  }
  #films .text-50 {
    width: 90%;
  }
  #benefits {
    .d-flex {
      flex-direction: column;

      .benefit {
        max-width: 220px;
        min-width: 220px;
        width: 220px;
        border-right: 0;
        border-bottom: 1px solid $gold;
        padding: 30px;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .events h2 {
    max-width: 78%;
  }
  #events-slider {
    .splide__list {
      height: 352px;
    }

    .splide__slide {
      .event-item {
        width: 310px;
        height: 352px;

        .event-img-wrap {
          width: 310px;
          height: 230px;
        }
      }

      &.is-active.is-visible .event-item .event-img-wrap {
        width: 310px;
        height: 310px;
      }
    }
  }
  .brands h2 {
    font-size: 16px;
    line-height: 20px;
  }

  .restaurant {
    flex-wrap: wrap;

    .rest-photo.photo-left {
      order: 1;
      max-width: 48%;
      min-width: 48%;
      width: 48%;
      margin-right: 10px;
      margin-bottom: 30px;
    }

    .rest-photo.photo-right {
      order: 2;
      max-width: 48%;
      min-width: 48%;
      width: 48%;
      margin-bottom: 30px;
    }

    .rest-text {
      order: 3;
    }
  }
  #services .d-flex {
    .text-50 {
      h2 {
        max-width: 100%;
        margin-top: 30px;
        font-size: 17px;
      }

      hr {
        max-width: 100%;
      }

      ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        max-height: initial;
      }
    }
    .services {
      grid-template-columns: 1fr;
    }
  }
  .d-sm-none {
    display: none;
  }
  .interior-photo {
    height: 228px;
    margin-bottom: 40px;
  }
  .pattern-bg {
    h2 {
      max-width: 100%;
    }
    p {
      max-width: 96%;
      margin: 0 auto 60px auto;
      font-size: 16px;
      line-height: 20px;
    }
  }
  #final .btn-group-main {
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  header .container .main-content {
    margin-top: 70vw;
  }
  .parallax__group {
    //margin-top: 70vw;
  }
  .contacts {
    flex-wrap: wrap;
    .contacts-group {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      .contacts-item {
        margin-bottom: 40px;
        text-align: center;
        a {
          margin-bottom: 10px;
          display: block;
        }
        p {
          margin: 0 auto ;
          max-width: 60%;
        }
      }
    }
    .contacts-links {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      align-items: center;
    }
  }
  footer p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 360px) {
  #events-slider {
    .splide__list{
      height: 352px;
    }
    .splide__slide {
      .event-item {
        width: 280px;
        height: 352px;
        .event-img-wrap {
          width: 280px;
          height: 230px;
        }
      }
      &.is-active.is-visible .event-item .event-img-wrap{
        width: 280px;
        height: 310px;
      }
    }
  }
  .contacts .contacts-group .contacts-item p {
    min-width: 84%;
  }
}