// colors
$red: #A0281E;
$gold: #BE9B46;
$gold-light: #DCE1A5;
$white: #FFFFFF;
$grey-50: rgba(255, 255, 255, 0.5);
$grey-dark: #191A1F;

// fonts
$font-fam-bodytext: 'Trebuchet MS', sans-serif;
$font-fam-hdrs: 'FuturaFuturisLightC', sans-serif;


// styles
* {
  margin: 0;
  padding: 0;
  img {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
  }
}
html, body {
  font-family: $font-fam-bodytext;
  background-color: $grey-dark;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1, h2 {
  font-family: $font-fam-hdrs;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: $gold;
}
p {
  color: $white;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
header {
  padding: 15px;
}
main {
  flex-grow: 1;
}
footer {
  margin-top: auto;
  background-color: $gold;
  color: $grey-dark;
  padding: 16px 0 10px 0;
  p {
    font-family: $font-fam-hdrs;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    color: $grey-dark;
  }
}
section {
  padding: 15px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1890px;
}



@import "mobile";