// colors
$red: #A0281E;
$gold: #BE9B46;
$gold-dark: #B98038;
$gold-light: #DCE1A5;
$white: #FFFFFF;
$grey-50: rgba(255, 255, 255, 0.5);
$grey-dark: #191A1F;
$grey-blue: #21212B;

// fonts
$font-fam-bodytext: 'Trebuchet MS', sans-serif;
$font-fam-hdrs: 'FuturaFuturisLightC', sans-serif;


// styles
* {
  margin: 0;
  padding: 0;
  img {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
  }
}
html, body {
  font-family: $font-fam-bodytext;
  background-color: $grey-dark;
  font-style: normal;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
h1, h2 {
  font-family: $font-fam-hdrs;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: $gold;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: $gold;
  transition: .3s;
  position: relative;
  display: inline;
}
ul {
  margin-left: 1.1rem;
}
p, ul li {
  color: $white;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
.d-flex {
  display: flex;
  align-items: center;
}
.p-50 {
  padding: 50px;
}
header {
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 100px;
  position: relative;
  z-index: 0;
  .container {
    background: linear-gradient(123.62deg, #21212B 30.03%, #111215 100%);
    position: relative;
    overflow: hidden;
    height: auto;
    .main-content {
      margin-top: 8%;
    }
    .main-screen-content {
      max-width: 50%;
      p {
        margin-bottom: 60px;
      }
    }
    .btn-group-main {
      max-width: 50%;
    }
  }
}
.parallax {
  height: 100vh;
  //height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  position: relative;
}
.parallax__group {
  //position: relative;
  position: absolute;
  z-index: 100;
  width: 50%;
  right: 15px;
  top: 0;
  height: 700px;
  //height: 90vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
}
.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.parallax-img-wrap {
  text-align: center;
  position: absolute;
  //left: 50%;
  //top: 50%;
  //-webkit-transform: translate(-50%, -50%);
  //transform: translate(-50%, -50%);
}

.parallax__layer--img1 {
  -webkit-transform: translateZ(80px);
  transform: translateZ(80px);
  max-width: 33%;
  top: 26%;
  left: 3%;

  .parallax-img-wrap {

  }
}

.parallax__layer--img2 {
  -webkit-transform: translateZ(30px) scale(1.2);
  transform: translateZ(30px) scale(1.2);
  max-width: 38%;
  top: 45%;
  left: 20%;
}
.parallax__layer--img3 {
  -webkit-transform: translateZ(20px) scale(1);
  transform: translateZ(20px) scale(1);
  max-width: 30%;
  top: 19%;
  left: 39%;
}
.parallax__layer--img4 {
  -webkit-transform: translateZ(40px) scale(1);
  transform: translateZ(40px) scale(1);
  max-width: 21%;
  top: 52%;
  left: 49%;
  .parallax-img-wrap {
    right: -70%;
  }
}


main {
  flex-grow: 1;
}
footer {
  margin-top: auto;
  background-color: $gold;
  color: $grey-dark;
  padding: 16px 0 10px 0;
  p {
    font-family: $font-fam-hdrs;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    color: $grey-dark;
  }
}
section {
  padding: 15px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1890px;
  width: 100%;
  &.bg-greyblue {
    border-radius: 4px;
    overflow: hidden;
  }
}
.btn {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: 15px 42px;
  font-family: 'FuturaFuturisC', sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  text-transform: lowercase;
  color: $grey-dark;
  text-decoration: none;
  min-width: initial;
  justify-content: center;
  span {
    margin-left: 20px;
    white-space: nowrap;
  }
  &.btn-primary {
    background-color: $gold;
    border: 1px solid $gold;
    color: $grey-dark;
    &:hover {
      background-color: $gold-dark;
      border: 1px solid $gold-dark;
      color: $grey-dark;
    }
  }
  &.btn-stroke {
    background-color: transparent;
    border: 1px solid $gold;
    color: $gold;
    &:hover {
      border: 1px solid $gold-dark;
      color: $gold-dark;
    }
  }
}
.btn-group-main {
  .btn {
    margin-right: 22px;
    &:last-child {
      margin-right: 0;
    }
  }
}
hr {
  border-color: $gold;
  margin-bottom: 46px;
}

.slider-container {
  max-width: 50%;
  min-width: 50%;
  width: 50%;
}
#films-slider {
  .splide__list {
    height: 524px;
    align-items: center;
  }
  .splide__slide {
    text-align: center;
    .films-cover-item {
      height: 524px; // всегда большие
      width: 360px;
      display: flex;
      align-items: center;
      .film-cover-wrap {
        position: relative;
        height: 460px;
        width: 316px;
        margin: 0 auto;
        transition: .3s;
        transition-timing-function: ease;
        img {
          position: absolute;
          object-fit: cover;
          object-position: center;
          height: 100%;
          width: 100%;
        }
      }
    }
    &.is-active.is-visible {
      .films-cover-item {
        .film-cover-wrap {
          height: 524px;
          width: 360px;
        }
      }
    }
  }
}

.splide__pagination {
  bottom: -3rem;
}
.splide__pagination__page {
  background: $grey-50;
  opacity: 1;
  height: 10px;
  width: 10px;
  margin: 5px;
}
.splide__pagination__page.is-active {
  background: $gold;
  transform: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 80px;
}
.slick-dots {
  bottom: -50px;
}
.text-50 {
  width: 70%;
  margin: auto;
}
.bg-greyblue {
  background-color: $grey-blue;
}


.benefit {
  max-width: 420px;
  min-width: 420px;
  width: 420px;
  text-align: center;
  border-right: 1px solid $gold;
  padding: 20px 40px;
  &:last-child {
    border-right: none;
  }
  img {
    margin: 0 auto 30px auto;
  }
  p {
    margin-bottom: 0;
  }
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.mb-100 {
  margin-bottom: 100px;
}
.events {
  h2 {
    max-width: 33%;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: relative;
      height: 1px;
      width: 100px;
      background-color: $gold;
      margin: 30px auto 50px;
    }
  }
}
#events-slider {
  .splide__list {
    height: 600px;
    align-items: center;
  }
  .splide__slide {
    text-align: center;
    .event-item {
      height: 600px; // всегда большие
      width: 900px;
      margin: 10px;
      .event-img-wrap {
        position: relative;
        width: 900px;
        height: 480px;
        margin: 0 auto;
        transition: .3s;
        transition-timing-function: ease;
        img {
          position: absolute;
          object-fit: cover;
          object-position: center;
          height: 100%;
          width: 100%;
        }
      }
      .event-img-description {
        font-family: $font-fam-hdrs;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 22px;
        color: $grey-50;
        margin-top: 16px;
      }
    }
    &.is-active.is-visible {
      .event-item {
        .event-img-wrap {
          height: 550px;
          width: 900px;
        }
      }
    }
  }
}

.brands {
    h2 {
      font-size: 24px;
      line-height: 26px;
      margin: 0 auto;
      text-align: center;
      position: relative;
      &:after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100px;
        background-color: $gold;
        margin: 30px auto 50px;
      }
    }
  .d-flex {
    img {
      margin: 0 35px;
      max-height: 58px;
    }
  }
}
.container.bg-greyblue {
  .text-50 {
    margin-left: 0;
    width: 80%;
  }
}
.restaurant {
  display: flex;
  align-items: center;
  .rest-photo {
    max-width: 25%;
    min-width: 25%;
    width: 25%;
    .rest-img-wrap {
      border-radius: 4px;
      position: relative;
      overflow: hidden;
      height: 690px;
      img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
  }
  .rest-text {
    flex-grow: 1;
    text-align: center;
    padding: 50px 150px;
    h2 {
      position: relative;
      max-width: 85%;
      margin: auto;
      &:after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100px;
        background-color: $gold;
        margin: 30px auto 50px;
      }
    }
    p {
      max-width: 73%;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}
.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 316px;
  gap: 15px;
}
.img-wrap {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}
.interior-photo {
  height: 460px;
  margin-bottom: 80px;
}
.pattern-bg {
  background-image: url("../images/pattern_bg.png");
  overflow: hidden;
  text-align: center;
  background-size: cover;
  padding-bottom:80px;
  h2 {
    max-width: 45%;
    margin: auto;
    &:after {
      content: '';
      display: block;
      position: relative;
      height: 1px;
      width: 100px;
      background-color: $gold;
      margin: 30px auto 50px;
    }
  }
  p {
    font-family: $font-fam-hdrs;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    max-width: 50%;
    margin: 0 auto 80px auto;
  }
}
.contacts {
  display: flex;
  align-items: start;
  margin-top: 50px;
  margin-bottom: 56px;
  .contacts-group {
    flex-grow: 1;
    display: flex;
    align-items: start;
    .contacts-item {
      max-width: 50%;
      min-width: 50%;
      width: 50%;
      text-align: center;
      a {
        font-family: $font-fam-hdrs;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        color: $gold;
        margin-bottom: 20px;
        display: inline;
        &:hover {
          color: $gold-dark;
        }
      }
      p {
        color: $grey-50;
        max-width: 80%;
        margin: auto;
        font-style: normal;
      }
    }
  }
  .contacts-links {
    max-width: 33%;
    min-width: 33%;
    width: 33%;
   text-align: center;

    p {
      color: $grey-50;
      max-width: 60%;
      margin: auto;
    }
  }
}
a:hover {
  color: $gold-dark;
}
.contact-icon-wrap {
  height: 48px;
  width: 48px;
  max-width: 48px;
  min-width: 48px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gold;
  margin: 0 4px 20px 4px;
  &:hover {
    background-color: $gold-dark;
  }
}
@import "mobile";